#body-paysite {
    margin-top: 60px;
    min-height: calc(100vh - 305px);
    padding: 10px 50px;
}

.shopping-cart {
    padding: 10px;
}

.shopping-cart-header {
    font-weight: bold;
}



.keepShopping {
    display: none;
    border: 1px solid #F2F6F8;
    text-align: center;

}

.keepShopping video {
    height: 160px;
}

.keepShopping .description-img {
    height: 160px;
    aspect-ratio: 1;
}

.keepShopping .keepshopping-btn {
    background-color: #0D8D15;
    width: 140px;
    padding: 10px;
    border-radius: 16px;
    margin: 10px auto;
}

.keepShopping .keepshopping-btn a {
    color: #ffffff;
    font-weight: bold;
}

.popup-checkout {
    width: 30%;
    height: 350px;
    border: 3px solid #F2F6F8;
    padding: 20px;
    width: 300px;
    flex-direction: column;
    margin: 10px;
    border-radius: 16px;
    box-shadow: 2px 2px 2px 1px #ccc;
    background-color: #ffffff;
}

.popup-checkout h4 {
    text-align: center;
    border-bottom: 2px solid #F2F6F8;
    padding-bottom: 10px;
}

.popup-checkout span {
    font-weight: 500;
}

.popup-checkout>i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}

.popup-checkout .component {
    display: flex;
    justify-content: space-between;
}

.popup-checkout .totalCost {
    border-bottom: 2px solid #F2F6F8;
    border-top: 2px solid #F2F6F8;
    padding: 5px 0;
}

.popup-checkout .totalCost p {
    margin: 0;
    font-weight: bold;
}

.popup-checkout .totalCost span {
    font-weight: bold;
}

.popup-checkout .promotionCode {
    margin-top: 10px;
}

.popup-checkout .promotionCode input[type=text] {
    padding: 2px 4px;
    border-radius: 6px;
}

.popup-checkout .promotionCode form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-checkout .promotionCode input[type=submit] {
    padding:0px 4px;
    border-radius: 6px;
    background-color: #0D8D15;
    color: #ffffff;
    font-weight: 500;
    border: none;
    margin: 0;
}

.popup-checkout .checkout-btn {
    padding: 5px 10px;
    background-color: #0D8D15;
    width: 100px;
    border-radius: 12px;
    margin: 10px auto 0;

}

.popup-checkout .checkout-btn a {
    color: #ffffff;
    font-weight: 500;
}

.popup-checkout.open {
    display: flex;
}

.item {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}

.item input {
    margin: 0 20px;
    width: 5%;
}

.item .itemImg {
    width: 10%;
    height: 100px;
    object-fit: contain;
    margin-right: 20px;
}

.item .itemInformation {
    font-size: 16px;
    font-weight: 500;
    min-width: 55%;
    margin: 0;
}

.item .itemName {
    margin: 0;
}

.item .itemRating {
font-size: 12px;
font-weight: 500;

}

.item .itemRating i {
    color: gold;
}


.item .itemPrice {
    width: 15%;
    font-weight: 500;
    margin: 0;
}


.item .itemEdit {
    width: 10%;
    cursor: pointer;
    padding: 5px;
    text-align: center;
}


.courseInCart input[type="submit"] {
    margin: 0 auto;
    text-align: center;
    background-color:#b6f9af;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    float: right;
    margin-bottom: 20px;
}
.courseInCart {
    display: flex;
    justify-content: space-between;
}

.courseInCart .items {
    width: 70%    ;
}