/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 600px) {
    .courseList .listItem {
        width: calc(50% - 20px);
    }

    .personal div,
    .personal form label {
        display: block;
    }

    .personal .upload {
        flex-direction: column;
        height: 250px;
    }

    .personal form input,
    .personal form select {
        width: 100%;
        margin-bottom: 10px;
    }

    .changePassword input[type="submit"] {
        width: 90px;
        border: none;
        border-radius: 8px;
        background-color: #18930a;
        color: #fff;
        font-weight: 500;
        padding: 5px;
        margin-top: 20px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) {

    #header .course-opption,
    #header .quesAndAns,
    #body .popularCourse,
    #body .feedBack,
    #header .right-side .userInfor,
    #body .advantageAds img {
        display: none;
    }

    #header #userMenu {
        width: 100%;
        text-align: right;
        border-radius: 0;
        top: 60px;
        right: 0;
        left: 0;
    }


    #body .contentBox p {
        margin: 20px auto 0;
        font-size: 1.3em;
        text-align: justify;
    }

    #body .boxContent .content {
        font-size: 1.3em;
        text-align: justify;
    }

    #body .advantageAds .content {
        background: linear-gradient(180deg, #0097B2, #7ED957);
        color: #ffffff;
        font-size: 1em;
        padding: 20px;

    }

    #footer .introduction {
        justify-content: center;
        align-items: center;
    }

    #footer .head {
        text-align: center;
    }

    #footer .copyright {
        width: 100%;
    }

    .courseList .listItem {
        width: calc(33.3% - 20px);
    }

    #personal .personal form {
        width: 100%;
        padding: 0 15%;
    }

    #Rating .rating-container {
        flex-direction: column;
    }

    #Rating .rating-right {
        display: none;
    }

    #body-paysite .courseInCart {
        flex-direction: column;
    }

    #body-paysite .courseInCart .items,
    #body-paysite .courseInCart .popup-checkout {
        width: 100%;
    }

    .infor .userTags,
    .infor .purchasedCourseAndCreatedCourse {
        width: 100%;
    }

    
    .lesson-main {
        position: relative;
    }
    
    .lesson-main .quiz-type1 .leftSide {
        width: 100%;
        padding: 10px;
    }
    
    .lesson-main .quiz-type1 .rightSide {
        bottom: -270px;
        position: absolute;
        width: 100%;
        background-color: #fff;
        height: 400px;
    }
    
    .rightSide .time i {
        display: none !important;
    }
    
    .tab {
        margin-top: 280px;
    }

    .lesson-main .quiz-type1 .rightSide .result {
        text-align: center;
    }


}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 992px) {
    .courseList .listItem {
        width: calc(20% - 20px);
    }

    #personal .personal form {
        width: 100%;
        padding: 0 20%;
    }
    
    .infor .userTags,
    .infor .purchasedCourseAndCreatedCourse {
        width: 100%;
    }

    .main > .rightSide {
        display: none;
    }
    #showMenulistBtn {
        display: block;
    }

    .leftSide {
        width: 100%;
    }

    
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (max-width: 1200px) {
    .courseList .listItem {
        width: calc(25% - 20px);
    }
}